root = true

[*]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{cs,xaml}]
indent_size = 4

[*.cs]
# Organize Usings
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

# Naming Conventions
dotnet_naming_rule.interface_should_be_begins_with_i.severity = suggestion
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = interface

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_style.interface.capitalization = pascal_case
dotnet_naming_style.interface.required_prefix = I

# Code Style
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_namespace_declarations = file_scoped:suggestion
csharp_new_line_before_open_brace = all

# Suppressions
dotnet_diagnostic.SA1633.severity = none
dotnet_diagnostic.CA1515.severity = none
dotnet_diagnostic.SA1309.severity = none
dotnet_diagnostic.CA1031.severity = none
